@import "@shared/styles/logic/func";
@import "@shared/styles/config/config";

.links{
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;

  @each $label, $breakpoint in $breakpoints{
    @media (min-width: #{$breakpoint}px) {
      gap: vw(10, $breakpoint);
    }
  }

  @media (max-width: #{get-breakpoint("sm")}px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
